<?xml version="1.0"?>
<config>
	<modules>
       <Ebizmarts_SagePaymentsCE>
          <version>1.1.1</version>
       </Ebizmarts_SagePaymentsCE>
    </modules>
    <global>
	    <blocks>
	    	<sagepaymentsce>
	        	<class>Ebizmarts_SagePaymentsCE_Block</class>
	        </sagepaymentsce>
	    	<payment>
	    		<rewrite>
	    			  <!-- REWRITE Mage_Payment_Block_Form_Cc -->
			          <form_sagepaymentsce>Ebizmarts_SagePaymentsCE_Block_Payment_Form_SagePaymentsCE</form_sagepaymentsce>
			          <!-- REWRITE Mage_Payment_Block_Info_Cc -->
			          <info_cc>Ebizmarts_SagePaymentsCE_Block_Payment_Info_Cc</info_cc>
			</rewrite>
	    	</payment>
	    	<adminhtml>
	    		<rewrite>
	    			<sales_order_payment>Ebizmarts_SagePaymentsCE_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
	    		</rewrite>
	    	</adminhtml>
	    </blocks>
		<helpers>
            <sagepaymentsce>
            	<class>Ebizmarts_SagePaymentsCE_Helper</class>
	    	</sagepaymentsce>
	    </helpers>
        <models>
        	<sales>
	        	<rewrite>
        			<order_api_v2>Ebizmarts_SagePaymentsCE_Model_Sales_Order_Api</order_api_v2>
				</rewrite>
      		</sales>
	    	<payment>
	    		<rewrite>
		    		<config>Ebizmarts_SagePaymentsCE_Model_Payment_Config</config>
		    	</rewrite>
	    	</payment>
            <sagepaymentsce>
                <class>Ebizmarts_SagePaymentsCE_Model</class>
                <resourceModel>sagepaymentsce_mysql4</resourceModel>
            </sagepaymentsce>
			<sagepaymentsce_mysql4>
	            <class>Ebizmarts_SagePaymentsCE_Model_Mysql4</class>
	            <entities>
	            	<sagepaymentsce_transaction>
	            		<table>sagepaymentsce_transactions</table>
	            	</sagepaymentsce_transaction>
	            	<sagepaymentsce_refund>
	            		<table>sagepaymentsce_refunds</table>
	            	</sagepaymentsce_refund>
	            </entities>
	        </sagepaymentsce_mysql4>

        </models>
        <resources>
            <sagepaymentsce_setup>
                <setup>
                    <module>Ebizmarts_SagePaymentsCE</module>
                    <class>Ebizmarts_SagePaymentsCE_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sagepaymentsce_setup>
            <sagepaymentsce_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </sagepaymentsce_write>
            <sagepaymentsce_read>
               <connection>
                <use>core_read</use>
              </connection>
            </sagepaymentsce_read>
        </resources>

      <payment>
            <sagepayments_cards>
                <types>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                    </VI>
                    <MC>
                        <code>MC</code>
                        <name>MasterCard</name>
                    </MC>
                    <AE>
                        <code>AE</code>
                        <name>American Express</name>
                    </AE>
                    <DI>
                    	<code>DI</code>
                    	<name>Discover</name>
                    </DI>
                </types>
            </sagepayments_cards>
        </payment>
		<events>
            <sales_order_load_after>
                <observers>
                    <sagepaymentsce_sa>
                        <class>sagepaymentsce/observer_sales</class>
                        <method>loadAfter</method>
                    </sagepaymentsce_sa>
                </observers>
            </sales_order_load_after>
            <sales_order_save_before>
                <observers>
                    <sagepaymentsce_sb>
                        <class>sagepaymentsce/observer_sales</class>
                        <method>saveBefore</method>
                    </sagepaymentsce_sb>
                </observers>
            </sales_order_save_before>
		</events>
    </global>
	<frontend>
        <layout>
        	<updates>
        		<sagepaymentsce>
        			<file>sagepaymentsce.xml</file>
        		</sagepaymentsce>
        	</updates>
        </layout>
	</frontend>
	<admin>
		<routers>
			<sagepaymentsce>
				<use>admin</use>
				<args>
					<module>Ebizmarts_SagePaymentsCE</module>
				</args>
			</sagepaymentsce>
		</routers>
	</admin>

    <default>
        <payment>
            <sagepaymentsce>
            	<m_id>362472731013</m_id>
            	<m_key>S6B7M6H8G7B7</m_key>
                <active>0</active>
                <model>sagepaymentsce/sageMethod</model>
                <title>Credit Card - Sage Payments</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <allowspecific>0</allowspecific>
                <payment_action>authorize_capture</payment_action>
                <order_status>Pending</order_status>
                <api><![CDATA[https://www.sagepayments.net/web_services/vterm_extensions/transaction_processing.asmx?WSDL]]></api>
            </sagepaymentsce>
         </payment>
    </default>
</config>
