@font-face {
    font-family:'GreatVibesRegular';
    src:url('../fonts/greatvibes-regular-webfont.eot');
    src:url('../fonts/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/greatvibes-regular-webfont.woff') format('woff'),
        url('../fonts/greatvibes-regular-webfont.ttf') format('truetype'),
        url('../fonts/greatvibes-regular-webfont.svg#GreatVibesRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}